<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
</head>

<body>
    <form method="post" action="/post/blog">
        <input type="text" required name="title" placeholder="Title for your blog here.......">
        <input type="text" required name="description" placeholder="Write your blog here.......">
        <button type="submit">POST BLOG</button>
    </form>
</body>

</html>