@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position:fixed;
    top: 0;
    left: 0;
    color: white;
    margin: 0;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    border-bottom: solid 1px rgba(128, 128, 128, 0.059);
    height: 70px;
    width: 100%;
    background-color: rgb(39, 40, 45);
}

#logo{
    color: rgb(255, 143, 15);
    padding: 20px 40px;
    font-size: 2rem;
}

#buttons-div{
    display: flex;
    align-items: center;
    padding: 20px 40px;

}

#create-your-blog-button{
    font-family: "Oswald", sans-serif;
    font-size: 1.1rem;
    padding: 10px;
    background-color: rgb(255, 143, 15);
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    width: 180px;
    cursor: pointer;
    transition: 2s;
}
#create-your-blog-button:hover{
    background-color: rgb(253, 155, 44);
    color: white;
    transform: scale(1.05,1.05);
    transition: .5s;
}



#signin{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

#signin:hover{
    color:rgb(235, 126, 1) ;
}


@keyframes slide-in {
    from {
        right: -50vw;
    }
    to {
        right: 0;
    }
}
@keyframes blur {
    from {
    }
    to {
        background-color: rgba(0, 0, 0, 0.735);
    }
}

.signinslideafter{
    animation: slide-in 0.5s forwards;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    height: 100vh;
    width: 52vw;
    background-color: rgb(39, 40, 45);
    z-index: 1000;
}
.signinslideafterblur{
    animation: blur 0.5s forwards;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

@keyframes slide-out {
    from {
        right: 0;
    }
    to {
        right: -50vw;
    }
}
@keyframes blur {
    from {
    }
    to {
        background-color: rgba(0, 0, 0, 0.55);
    }
}

